<!--files review -->
<!-- Comment modal window -->



<div class="container">
    <div class="row">
        <aside class="settingsMenu col-xs-offset-2 col-xs-10 col-sm-offset-4">
            <div class="btn-group">
                <a href="/browse/late_to_early">
                    <button type="button " class="btn btn-default lateToEarlyButton
                        {% if sortType == 'late_to_early' %}
                            active
                        {% endif %}
                        ">Late to early
                    </button>
                </a>
                <a href="/browse/early_to_late">
                    <button type="button" class="
                    btn btn-default
                    {% if sortType == 'early_to_late' %}
                        active
                    {% endif %}
                    ">Early to late
                    </button>
                </a>
            </div>
        </aside>

        <section class="files col-xs-10 col-xs-offset-1">
            {% for fileArticle in fileArticles %}
                {% set fileAvatar = fileArticle.file.fileAvatar %}
                {% if fileAvatar.group == 'default' %}
                    {% set fileAvatarClass = 'img-responsive center-block fileImageDefault' %}
                {% elseif fileAvatar.group == 'supported' %}
                    {% if fileAvatar.type == 'image' %}
                        {% set fileAvatarClass = 'img-responsive center-block fileImageSupported' %}
                    {% endif %}
                {% endif %}
                {% set fileAvatarTag %}
                    {{ fileAvatar.tag.openTag | raw }} {{ fileAvatar.tag.attributes | raw }} class="{{ fileAvatarClass }}" {{ fileAvatar.tag.closeOpenTag | raw }}
                {% endset %}
                <article class="file">
                    <a class="fileLink" href="{{ fileArticle.file.filePageUrl }}">
                    <h5><img src="{{ fileArticle.owner.avatarUri }}" alt="Author avatar" class="img-rounded userAvatar">
                        {{ fileArticle.owner.email }}
                    </h5>
                    <h4 class="fileName">Filename {{ fileArticle.file.name }}</h4>
                    {{ fileAvatarTag | raw}}
                    <ul class="fileInfoList list-inline">
                        <li>Uploaded: {{ fileArticle.file.created }}</li>
                        <li>Size: {{ fileArticle.file.size }} Mb</li>
                    </ul>
                    </a>
                </article>
                <hr>
            {% endfor %}
        </section>
        {% include 'file_navigation.twig' %}
    </div>
</div>
